.Welcome {
  text-align: center;
  /* F:\BE-Pro\BEProject\frontend\src\assets\img\Welcome.jpg */
  background-image: url("./assets/img/Welcome.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#leftbox {
  margin-top: 50px;
  margin-bottom: 100px;
  float: left;
  padding: 20px;
  width: 25%;
  height: 300px;
}
#mid-left {
  margin-top: 50px;
  margin-bottom: 100px;
  float: left;
  padding: 20px;
  width: 25%;
  height: 300px;
}
#mid-rightbox {
  margin-top: 50px;
  margin-bottom: 100px;
  float: left;
  padding: 20px;
  width: 25%;
  height: 300px;
}
#rightbox {
  margin-top: 50px;
  margin-bottom: 100px;
  float: right;
  padding: 20px;
  width: 25%;
  height: 300px;
}
#design {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  padding: 20px;
  width: 33%;
  height: 300px;
}
#tested {
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  padding: 20px;
  width: 33%;
  height: 300px;
}
#support {
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  padding: 20px;
  width: 33%;
  height: 300px;
}
#say {
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  padding: 20px;
  width: 33%;
  height: 300px;
}
#display {
  margin-top: 50px;
  margin-bottom: 50px;
  float: right;
  padding: 20px;
  width: 33%;
  height: 300px;
}
#welld {
  margin-top: 50px;
  margin-bottom: 50px;
  float: right;
  padding: 20px;
  width: 33%;
  height: 300px;
}
